

.table{
    margin-top: auto;
    padding-top: px;
    color: aqua;
}
.digi{
    background-color:  blue;
}
.full {
    background-color: green;
}
.soft {
    background-color: yellow;
}
.sql {
    background-color: purple;
}
.hbo {
    background-color: lavender;
}
.begin {
    background-color: cornflowerblue;
}
.start
{
    background-color: darkred;
}
.afrond {
    background-color: aquamarine;
}

